.display {
    margin-left: 8%;
}

.header {
    margin: 20px;
    display: flex;
    align-items: baseline;
}


h3 {
    width: 70px;
    height: 33px;
    text-align: left;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}

.allBooks, .bookData {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.book-card {
    margin: 10px;
    width: 235px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    opacity: 1;
    cursor: pointer;
}

.book-img {
    padding: 8%;
    display: flex;
    justify-content: center;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 2px 2px 0px 0px;
    opacity: 1;
}

img {
    width: 105px;
    height: 135px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

.bookTitle {
    width: 130px;
    height: 19px;
    padding-top: 5%;
    padding-left: 6.7%;
    padding-bottom: 2%;
    text-align: left;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}

p {
    width: 63px;
    height: 13px;
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.rating-div {
    display: flex;
    align-items: center;
}

.rating {
    margin-bottom: 12px;
    width: 33px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #388E3C 0% 0% no-repeat padding-box;
    border-radius: 1px;
    opacity: 1;
}

h1 {
    width: 48px;
    height: 16px;
    text-align: left;
    font: normal normal bold 12px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}

h6 {
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.footer {
    margin-top: 50px;
    padding: 20px;
    font: normal normal medium 12px/15px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #2E1D1E 0% 0% no-repeat padding-box;
    opacity: 1;
}
h5{
    margin: 0;
    margin-left: 7%;
}