<div class="display">
    <div class="header">
        <span>
            <h3>Books</h3>
        </span>
        <span>
            <h6>(10 items)</h6>
        </span>
    </div>
    <div></div>

    <div class="allBooks">
        <div>
            <mat-card class="book-card">
                <div class="book-img">
                    <img mat-card-image src="../../../assets/book_imgs/Image 11@2x.png" alt="">
                </div>
                <div>
                    <mat-card-title class="bookTitle">Don't Make Me Think</mat-card-title>
                    <mat-card-content class="details">
                        <p>by Steve Krug</p>
                        <div class="rating-div">
                            <span class="rating">4.5</span>
                            <span>
                                <h6>(20)</h6>
                            </span>
                        </div>
                        <h1>Rs. 1500</h1>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-card class="book-card">
                <div class="book-img">
                    <img mat-card-image src="../../../assets/book_imgs/Image 36@2x.png" alt="">
                </div>
                <div>
                    <mat-card-title class="bookTitle">Don't Make Me Think</mat-card-title>
                    <mat-card-content class="details">
                        <p>by Steve Krug</p>
                        <div class="rating-div">
                            <span class="rating">4.5</span>
                            <span>
                                <h6>(20)</h6>
                            </span>
                        </div>
                        <h1>Rs. 1500</h1>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-card class="book-card">
                <div class="book-img">
                    <img mat-card-image src="../../../assets/book_imgs/Image 14@2x.png" alt="">
                </div>
                <div>
                    <mat-card-title class="bookTitle">Don't Make Me Think</mat-card-title>
                    <mat-card-content class="details">
                        <p>by Steve Krug</p>
                        <div class="rating-div">
                            <span class="rating">4.5</span>
                            <span>
                                <h6>(20)</h6>
                            </span>
                        </div>
                        <h1>Rs. 1500</h1>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-card class="book-card">
                <div class="book-img">
                    <img mat-card-image src="../../../assets/book_imgs/Image 23@2x.png" alt="">
                </div>
                <div>
                    <mat-card-title class="bookTitle">Don't Make Me Think</mat-card-title>
                    <mat-card-content class="details">
                        <p>by Steve Krug</p>
                        <div class="rating-div">
                            <span class="rating">4.5</span>
                            <span>
                                <h6>(20)</h6>
                            </span>
                        </div>
                        <h1>Rs. 1500</h1>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-card class="book-card">
                <div class="book-img">
                    <img mat-card-image src="../../../assets/book_imgs/Image 10@2x.png" alt="">
                </div>
                <div>
                    <mat-card-title class="bookTitle">Don't Make Me Think</mat-card-title>
                    <mat-card-content class="details">
                        <p>by Steve Krug</p>
                        <div class="rating-div">
                            <span class="rating">4.5</span>
                            <span>
                                <h6>(20)</h6>
                            </span>
                        </div>
                        <h1>Rs. 1500</h1>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-card class="book-card">
                <div class="book-img">
                    <img mat-card-image src="../../../assets/book_imgs/Image 18@2x.png" alt="">
                </div>
                <div>
                    <mat-card-title class="bookTitle">Don't Make Me Think</mat-card-title>
                    <mat-card-content class="details">
                        <p>by Steve Krug</p>
                        <div class="rating-div">
                            <span class="rating">4.5</span>
                            <span>
                                <h6>(20)</h6>
                            </span>
                        </div>
                        <h1>Rs. 1500</h1>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-card class="book-card">
                <div class="book-img">
                    <img mat-card-image src="../../../assets/book_imgs/Image 13@2x.png" alt="">
                </div>
                <div>
                    <mat-card-title class="bookTitle">Don't Make Me Think</mat-card-title>
                    <mat-card-content class="details">
                        <p>by Steve Krug</p>
                        <div class="rating-div">
                            <span class="rating">4.5</span>
                            <span>
                                <h6>(20)</h6>
                            </span>
                        </div>
                        <h1>Rs. 1500</h1>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-card class="book-card">
                <div class="book-img">
                    <img mat-card-image src="../../../assets/book_imgs/Image 12@2x.png" alt="">
                </div>
                <div>
                    <mat-card-title class="bookTitle">Don't Make Me Think</mat-card-title>
                    <mat-card-content class="details">
                        <p>by Steve Krug</p>
                        <div class="rating-div">
                            <span class="rating">4.5</span>
                            <span>
                                <h6>(20)</h6>
                            </span>
                        </div>
                        <h1>Rs. 1500</h1>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-card class="book-card">
                <div class="book-img">
                    <img mat-card-image src="../../../assets/book_imgs/Image 11@2x.png" alt="">
                </div>
                <div>
                    <mat-card-title class="bookTitle">Don't Make Me Think</mat-card-title>
                    <mat-card-content class="details">
                        <p>by Steve Krug</p>
                        <div class="rating-div">
                            <span class="rating">4.5</span>
                            <span>
                                <h6>(20)</h6>
                            </span>
                        </div>
                        <h1>Rs. 1500</h1>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-card class="book-card">
                <div class="book-img">
                    <img mat-card-image src="../../../assets/book_imgs/Image 12@2x.png" alt="">
                </div>
                <div>
                    <mat-card-title class="bookTitle">Don't Make Me Think</mat-card-title>
                    <mat-card-content class="details">
                        <p>by Steve Krug</p>
                        <div class="rating-div">
                            <span class="rating">4.5</span>
                            <span>
                                <h6>(20)</h6>
                            </span>
                        </div>
                        <h1>Rs. 1500</h1>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-card class="book-card">
                <div class="book-img">
                    <img mat-card-image src="../../../assets/book_imgs/Image 8@2x.png" alt="">
                </div>
                <div>
                    <mat-card-title class="bookTitle">Don't Make Me Think</mat-card-title>
                    <mat-card-content class="details">
                        <p>by Steve Krug</p>
                        <div class="rating-div">
                            <span class="rating">4.5</span>
                            <span>
                                <h6>(20)</h6>
                            </span>
                        </div>
                        <h1>Rs. 1500</h1>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-card class="book-card">
                <div class="book-img">
                    <img mat-card-image src="../../../assets/book_imgs/Image 7@2x.png" alt="">
                </div>
                <div>
                    <mat-card-title class="bookTitle">Don't Make Me Think</mat-card-title>
                    <mat-card-content class="details">
                        <p>by Steve Krug</p>
                        <div class="rating-div">
                            <span class="rating">4.5</span>
                            <span>
                                <h6>(20)</h6>
                            </span>
                        </div>
                        <h1>Rs. 1500</h1>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-card class="book-card">
                <div class="book-img">
                    <img mat-card-image src="../../../assets/book_imgs/Image 36.png" alt="">
                </div>
                <div>
                    <mat-card-title class="bookTitle">Don't Make Me Think</mat-card-title>
                    <mat-card-content class="details">
                        <p>by Steve Krug</p>
                        <div class="rating-div">
                            <span class="rating">4.5</span>
                            <span>
                                <h6>(20)</h6>
                            </span>
                        </div>
                        <h1>Rs. 1500</h1>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="footer">
    <h5>Copyright © 2020, Bookstore Private Limited. All Rights Reserved</h5>
</div>