<div class="display">
    <div class="header">
        <span>
            <h3>Books</h3>
        </span>
        <span>
            <h6>(10 items)</h6>
        </span>
    </div>
    <div></div>

    <div class="allBooks">
        <div class="bookData">
            <mat-card class="book-card" *ngFor="let book of  AllBooks" (click)="viewBookDetails(book)">
                <div class="book-img">
                    <img mat-card-image src="../../../assets/book_imgs/Image 11@2x.png" alt="">
                </div>
                <div>
                    <mat-card-title class="bookTitle">
                        <span>{{book.bookName}}</span>
                    </mat-card-title>
                    <mat-card-content class="details">
                        <span>{{book.author}}</span>
                        <div class="rating-div">
                            <span class="rating">4.5</span>
                            <span>
                                <h6>(20)</h6>
                            </span>
                        </div>
                        <h1>Rs. 1500</h1>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>
<div class="footer">
    <h5>Copyright © 2020, Bookstore Private Limited. All Rights Reserved</h5>
</div>