.header {
    background: #A03037;
    display: flex;
    justify-content: center;
}

.header-content {
    width: 80%;
    padding-right: 36px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;

}

.logo {
    display: flex;
}

h2 {
    margin: 5%;
}

input {
    font: normal 17px Google Sans, Roboto, Helvetica, Arial, sans-serif;
    outline: none;
    border: none;
    background: #FFFFFF;
}

.right {
    display: flex;
    gap: 44px;
}